@model IEnumerable<Product>

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
        <div class="product-cart-wrap hover-up">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id" tabindex="0">
                        <img class="default-img" src="@item.Image" alt="@item.Title" />
                    </a>
                </div>
                @if (item.IsCampaing)
                {
                    <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">İndirim</span>
                    </div>
                }
            </div>
            <div class="product-content-wrap">
                <h2><a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id" tabindex="0">@item.Title</a></h2>
            </div>
        </div>
    </div>
}                        